<div class="card text-center">
  <div class="card-body text-center">
    <h6 class="text-muted">
      {{ _service.amount }} em {{ _service.moedaFrom }} equivale a
    </h6>
    <h2 class="card-title">
      {{ _service.resultadoConversao }} em {{ _service.moedaTo }}
    </h2>
    <p class="card-text">Taxa de conversão utilizada: {{ _service.rate }}</p>
    <a href="#" class="btn btn-secondary">Nova Conversão</a>
  </div>
  <div class="text-muted">Data da conversão: {{ _service.date }}</div>
</div>
