<section class="container">


  <section class="form">



    <section class="container-sm">
            <p>Converter de</p>
            <div class="input-group input-group-sm mb-3 ">
                <span class="input-group-text " id="inputGroup-sizing-default">Valor:</span>
                <input type="number" class="form-control" [(ngModel)] = "cvs.valor">
            </div>
            <select class="form-select combobox" [(ngModel)]="cvs.selectedOptionMoedaAtual">
              <option *ngFor ="let moeda of moedas"
              [value] = "moeda.simbolo"> {{moeda.nome}} - {{moeda.simbolo}}

              </option>
            </select>
          </section>


        <section class="container-sm">
          <p>Para:</p>
            <select class="form-select combobox" [(ngModel)] ="cvs.selectedOptionMoedaConverter" >
              <option selected>Selecione a moeda desejada</option>

              <option *ngFor ="let moeda of moedas"
              [value] = "moeda.simbolo" > {{moeda.nome}} - {{moeda.simbolo}}

              </option>
            </select>

            <button class="btn" (click) ="converter()">Converter</button>

      </section>


    </section>
