<table mat-table [dataSource]="historico" class="container" matSort>


  <!-- Data da conversão -->
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Data da conversão </th>
    <td mat-cell *matCellDef="let historico"> {{ _service.date | dataBr }} </td> 
  </ng-container>

  <!-- Hora da conversão -->
  <ng-container matColumnDef="hora">
    <th mat-header-cell *matHeaderCellDef> Hora da conversão </th>
    <td mat-cell *matCellDef="let historico">  </td>  // falta implementar
  </ng-container>

  <!-- Valor de entrada e moeda a ser convertida -->
  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor Informado</th>
    <td mat-cell *matCellDef="let historico"> {{ _service.amount }} </td> 
  </ng-container>

  <!-- Moeda selecionada MoedaFrom -->
    <ng-container matColumnDef="moedaFrom">
      <th mat-header-cell *matHeaderCellDef> Moeda Selecionada</th>
      <td mat-cell *matCellDef="let historico"> {{ _service.moedaFrom }} </td> 
  </ng-container>

  <!-- Moeda a ser convertida -->
  <ng-container matColumnDef="moedaTo">
    <th mat-header-cell *matHeaderCellDef> Moeda Convertida</th>
    <td mat-cell *matCellDef="let historico"> {{ _service.moedaTo }} </td> 
  </ng-container>

    <!-- valor de saída  -->
    <ng-container matColumnDef="resultado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado</th>
      <td mat-cell *matCellDef="let historico"> {{ _service.resultadoConversao }} </td> 
    </ng-container>

      <!-- Taxa da cotação utilizada na conversão -->
  <ng-container matColumnDef="taxa">
    <th mat-header-cell *matHeaderCellDef> Taxa</th>
    <td mat-cell *matCellDef="let historico"> {{ _service.rate }} </td> 
  </ng-container>




  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>